DENSITY_API_KEY=your_density_api_key_here
SPACE_IDS=spc_xxxxx
APP_PASSWORD=your_password_here
SESSION_SECRET=run: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
PORT=3000
KV_REST_API_URL=your_upstash_redis_url
KV_REST_API_TOKEN=your_upstash_redis_token
